<div class="span3 ">
    <ul class="nav nav-list bs-docs-sidenav " style="width: 200px">
          <li class="@ViewBag.aIndexNav"><a href="@Url.Content("~/ACenter/Index")"><i class="icon-chevron-right"></i>管理中心</a></li>
        <li class="@ViewBag.aBaseMaterialNav"><a href="@Url.Content("~/ACenter/BaseMaterial")"><i class="icon-chevron-right"></i>基础材料管理</a></li>
        <li class="@ViewBag.aFeeNav"><a href="@Url.Content("~/ACenter/Fee")"><i class="icon-chevron-right"></i>费用设置</a></li>
        <li class="@ViewBag.aResNav"><a href="@Url.Content("~/ACenter/Res")"><i class="icon-chevron-right"></i>账号系统</a></li>
    </ul>
</div>
