
@{

    }
<div class="span3 ">
    <ul class="nav nav-list bs-docs-sidenav " style="width: 200px">
        <li class="@ViewBag.dIndexNav"><a href="@Url.Content("~/DCenter/Index")"><i class="icon-chevron-right"></i>医生中心</a></li>
        <li class="@ViewBag.dPatientInfoNav"><a href="@Url.Content("~/DCenter/PatientInfo")"><i class="icon-chevron-right"></i>患者信息查询</a></li>
        <li class="@ViewBag.dCaseNav"><a href="@Url.Content("~/DCenter/Case")"><i class="icon-chevron-right"></i>病历处理</a></li>
        
    </ul>
</div>
