@{
    ViewBag.Title = "Index";
    ViewBag.dIndexNav = "active";
    ViewBag.naviCenter = "active";
}
<div class="container">
    <div class="row">
          @Html.Partial("_DCenterLeftNav")
        <div class="span9 ">
            <div class="hero-unit ">
                <div class="row">
                    
                    <!-- /.span4 -->
                    <div class="span3 " style="padding-left: 50px">
                        <img class="img-rounded" src="@Url.Content("~/img/info.gif/140x140")">
                        <h3>
                            患者信息查询</h3>
                        <p>
                            查询患者详细信息
                        </p>
                        <p>
                            <a class="btn btn-info" href="@Url.Content("~/DCenter/PatientInfo")">进入 &raquo;</a></p>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3" style="padding-left: 60px">
                        <img class="img-rounded" src="@Url.Content("~/img/case.gif/140x140")">
                        <h3>
                            病历处理</h3>
                        <p>
                            查看增加患者病历</p>
                        <p>
                            <a class="btn btn-info" href="@Url.Content("~/DCenter/Case")">进入 &raquo;</a></p>
                    </div>
                    <!-- /.span4 -->
                    
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>
<footer class="footer">
      <div class="container">
        <p>由<a target="_blank">Prime</a>团队设计并完成.</p>
        <p>我们遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 以及 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>.</p>
        <p>本网站基于<a href="http://www.bootcss.com/">Bootstrap</a>设计，并全部遵循 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>协议发布。</p>
        <ul class="footer-links">
          <li><a href="@Url.Content("~/Index/AboutUs")" target="_blank">关于我们</a></li>
          <li class="muted">&middot;</li>
          
        
          
          <li>©2013 <a href="@Url.Content("~/Index/index")" target="_blank">Prime</a>版权所有</li>
        </ul>
      </div>
</footer>
